@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Qahiri&family=Yomogi&display=swap');
* {
  box-sizing: border-box;
}

body {
  /* background-color: rgb(1, 6, 26); */
  background-color: rgb(1, 6, 24);

  color: white;
  font-family: 'Yomogi';
  margin: 0;
}